.mat-card-c{
    width: 400px;
     
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;  
    vertical-align:middle;
    
}
@media only screen and (max-width: 600px) {
    .mat-card-c{
        width: 80%;
        
        display: block;
        margin-left:auto;
        margin-right:auto;
        margin-top: 50px;  
        vertical-align:middle;
    }
  }

mat-card{
    margin: 5px;
}

label{
  width: 50px;
  margin: 10px;
}

.z-depth:hover {
  box-shadow: 0 4px 4px 4px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.08), 0 4px 4px 0 rgba(0,0,0,.04) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}