<div class="row">
  

  <mat-card class="mat-card-c z-depth">
      <h1 class="text-center" style="text-align: center">New Around here?</h1>
      <div class="card-body">
<form [formGroup]="registerForm"  style="text-align: center">
  <div class="form-group" style="margin: 10px">
   
    <mat-form-field>
    <input matInput formControlName="resName" name="resName" placeholder="Enter Restaurant Name" minlength="3" type="text" class="form-control">
  </mat-form-field>
  </div>
  <div class="form-group" style="margin: 10px">
   
    <mat-form-field>
    <input matInput formControlName="fullName" name="fullName" placeholder="Enter Owner's Full Name" minlength="3" type="text" class="form-control">
  </mat-form-field>
  </div>
  <div class="form-group" style="margin: 10px">
   
    <mat-form-field>
    <input matInput formControlName="userName" name="userName" placeholder="Enter username" minlength="3" type="text" class="form-control">
  </mat-form-field>
  </div>
  <div class="form-group" style="margin: 10px">
    <mat-form-field>
    <input matInput formControlName="address" name="address" placeholder="Enter Address" minlength="3" type="text" class="form-control">
    </mat-form-field>
  </div>
   
  
  <button mat-raised-button color="primary" (click)="submit()">Get cooking!</button>
  


</form>
</div>
</mat-card>
</div>